@charset "UTF-8"; /*Dlaczego zdeklarowałem kodowanie? Ponieważ chcę pisać z polskimi literami :)*/

/* 	-------------------------------------
   	# Kilka użytecznych klas do ukrywania
   	-------------------------------------

/* 	Klasa .hide dodana do dowolnego elementu powoduje ukrycie objętej nią informacji.
	Ukrycie jest wyłącznie wizualne, jednak treść jest dostępna dla np. użytkowników 
	czytników ekranu lub tych, którzy mają wyłączony CSS. */

.hide 
	{ position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); 
      padding: 0 !important; border: 0 !important; height: 1px !important; width: 1px !important; overflow: hidden; }